<p>price-add works!</p>
<div>
  <div><label>Name: <input [(ngModel)]="price.name" placeholder="Product name"/></label></div>
  <div>
    <label>Price: <input [(ngModel)]="price.amount" placeholder="Product cost"/></label>
    <label>Price currency: <input [(ngModel)]="price.currency" placeholder="Product currency"/></label>
  </div>

  <div><label>Discount: <input [(ngModel)]="price.discount" placeholder="Product discount in %"/></label></div>
  <div><label>Photos: <input [(ngModel)]="price.photos" placeholder="Product photos"/></label></div>
  <div><label>Qr: <input [(ngModel)]="price.qrCode" placeholder="Product code"/></label></div>
</div>
